/* calls fonts
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


.largeContainer {
    height: 440px;
    width: 1100px;
    display:flex;
    flex-direction: row;
    background-color: hsl(244,38%,16%);
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.smallContainer {
    position: relative;
    height: 50px;
    width: 380px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 70px;
}

.containerLeft {
    height: 440px;
    display: flex;
    flex-direction: column;
}

.containerRight {
    width: 550px;
    height: 440px;
    display: flex;
    flex-direction: row;
}


.statBox {
    height: 50px;
    width: 126px;
}

.flex1 {
    height: 177px;
    width: 380px;
    margin-top: 60px;
    margin-left: 70px;
}

body {
    margin: 177px 165px 177px 165px;
    background-color: hsl(233,47%,7%);
}

.mainStats {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.accent {
    color: hsl(277,64%,61%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.mainPg {
    color: hsla(0,0%,100%,0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
    line-height: 25px;
}

.statsHeading {
    color: hsla(0,0%,100%,0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
    margin:0;
}

img {
    object-fit: cover;
    justify-items: left;
    height: 440px;
    width: 550px;
    border-radius: 0 10px 10px 0;
    color: hsl(277,64%,61%);
    opacity: .5;
    margin-left: 110px;
}

